extends layout

block extra_header
    script(src='/javascripts/dashboards.js')

block contents
    .row(ng-app="app", ng-controller="DashboardsCtrl", ng-cloak)
        .col-md-2.sidebar
            block sidebar

        .col-md-10.main
            .row
                panel.panel-default
                    .panel-body

            .row
                .col-md-4
                    uib-accordion
                        uib-accordion-group(is-open="showBalances")
                            uib-accordion-heading
                                i.glyphicon(ng-class="{'glyphicon-minus': showBalances, 'glyphicon-plus': !showBalances}")
                                span &nbsp;&nbsp;Balances
                            .row
                                .col-md-8
                                    h4 Date: {{ date | ctd | date : 'yyyy/MM/dd' }}
                                    h4 Cash: {{ cash }}
                                    h4 Total: {{ total }} &nbsp;&nbsp;&nbsp; {{ totalDelta }}
                                    h4 Opt Req: {{ optionsRequirements }}
                                    h4 Unrealized GL: {{ unrealizedGain }}
                                    h4 Realized GL: {{ realizedGain }}

