doctype html
html
    head
        title= PIM
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="")
        meta(name="author", content="")

        link(rel="icon" href="/images/favicon.ico")

        link(rel="stylesheet", href="/stylesheets/bootstrap.css")
        link(rel="stylesheet", href="/stylesheets/app.css")

        script(src='/socket.io/socket.io.js')

        script(src='/javascripts/vendors/angular.min.js')
        script(src='/javascripts/vendors/ui-bootstrap-tpls-1.0.3.min.js')

        script(src='/javascripts/common.js')

    block extra_header

    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar")
                        span.sr-only
                            Toggle navigation
                        span.icon-bar
                        span.icon-bar

                    a.navbar-brand(href="#") MarketInsight

                .navbar-collapse.collapse#navbar
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="/") Dashboard
                        li
                            a(href="/quickview/equities") Equities
                        li
                            a(href="/quickview/commodities") Commodities
                        li
                            a(href="/quickview/countries") Countries
                        li
                            a(href="/quickview/fixedincome") Fixed income
                        li
                            a(href="/options") Options
                        li
                            a(href="/settings") Settings

        .container-fluid
            block contents
