extends layout

block extra_header
    script(src='/javascripts/vendors/d3.min.js')
    script(src='/javascripts/options.js')

block contents
    .row(ng-app="app", ng-controller="OptionsCtrl", ng-init="theme='equities'", ng-cloak)
        .col-md-2.sidebar
            ul.nav.nav-sidebar
                li
                    input.form-control#symbol-search(type="text", placeholder="Find underlier", ng-model="underlierFilter")
                li(ng-show="underlierFilter !== ''", ng-repeat="item in underliers | filter: { symbol: underlierFilter } | orderBy: 'symbol'")
                    a(ng-click="selectUnderlier(item.symbol)") {{ item.symbol }}
                li(ng-show="underlierFilter === ''", ng-repeat="item in underliers | filter: { withPos: 'true' } |  orderBy: 'symbol'")
                    a(ng-click="selectUnderlier(item.symbol)") {{ item.symbol }}

        .col-md-7.main
            .row
                panel.panel-default
                    .panel-body
                        .col-md-12.form-inline.radio-button-selector
                            .btn-group
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'2 days'", ng-click="update()") 2 Days
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'3 days'", ng-click="update()") 3 Days
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'5 days'", ng-click="update()") 5 Days
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'10 days'", ng-click="update()") 10 Days
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'20 days'", ng-click="update()") 20 Days
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'1 month'", ng-click="update()") 1 Month
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'3 months'", ng-click="update()") 3 Months
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'4 months'", ng-click="update()") 4 Months
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'5 months'", ng-click="update()") 5 Months
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'6 months'", ng-click="update()") 6 Months
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'1 year'", ng-click="update()") 1 Year
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'ytd'", ng-click="update()") YTD
                            span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            .btn-group
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.extendedHours", uib-btn-radio="false", ng-click="updateGraphs()") Standard
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.extendedHours", uib-btn-radio="true", ng-click="updateGraphs()") Extended

            .row
                uib-accordion.col-md-12.graph-panel(ng-repeat="graph in graphs")
                    uib-accordion-group(is-open="graph.isOpen")
                        uib-accordion-heading
                            i.glyphicon(ng-class="{'glyphicon-minus': graph.isOpen, 'glyphicon-plus': !graph.isOpen}")
                            span &nbsp;&nbsp;{{graph.title}}
                        div
                            .row.form-inline.col-md-12
                                button.btn.btn-primary.btn-sm(ng-click="resetGraph(graph)")
                                    span &nbsp;Reset
                                label &nbsp;&nbsp;&nbsp;
                                label.btn.btn-primary.btn-sm(ng-click="zoomGraph(graph, +1)")
                                    i.glyphicon.glyphicon-plus
                                label &nbsp;
                                label.btn.btn-primary.btn-sm(ng-click="zoomGraph(graph, -1)")
                                    i.glyphicon.glyphicon-minus
                                label &nbsp;&nbsp;&nbsp;
                                label.btn.btn-primary.btn-sm(ng-click="shiftGraph(graph, -1)")
                                    i.glyphicon.glyphicon-chevron-up
                                label &nbsp;
                                label.btn.btn-primary.btn-sm(ng-click="shiftGraph(graph, +1)")
                                    i.glyphicon.glyphicon-chevron-down
                            .row.form-inline.col-md-12
                                span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                span(ng-repeat="target in graph.targets | filter: { core: true }")
                                    input(type="checkbox", ng-model="target.visible", ng-click="updateGraphs()")
                                    span &nbsp;&nbsp;{{ target.name }}&nbsp;
                                    ts-legend(color="target.color")
                                    span &nbsp;&nbsp;
                            .row.form-inline.col-md-12
                                span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                span(ng-repeat="target in graph.targets| filter: { core: false }")
                                    input(type="checkbox", ng-model="target.visible", ng-click="updateGraphs()")
                                    span &nbsp;&nbsp;{{ target.name }}&nbsp;
                                    ts-legend(color="target.color")
                                    span &nbsp;&nbsp;
                            .row.form-inline.col-md-12
                                time-series-chart(settings="graph", global-settings="globalSettings", data="data")

        .col-md-3
            .row
                panel.panel-default
                    .panel-body

            .row
                panel.panel-default
                    .panel-body
                        button.btn.btn-primary.btn-sm(ng-click="update()")
                            span &nbsp;Update
                        span &nbsp;&nbsp;&nbsp;&nbsp;
                        button.btn.btn-primary.btn-sm(ng-click="resetOptionFilters()")
                            span &nbsp;Reset
                        span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        label
                            h4 {{globalSettings.underlier}}
                        span &nbsp;&nbsp;&nbsp;
                        label
                            h4 ${{globalSettings.underlierPrice}}

            .row
                uib-accordion
                    uib-accordion-group(is-open="showPositionSelector")
                        uib-accordion-heading
                            i.glyphicon(ng-class="{'glyphicon-minus': showSelector, 'glyphicon-plus': !showSelector}")
                            span &nbsp;&nbsp;Traded Positions
                        .row
                            .col-md-12
                                table.table.table-hover
                                    thead
                                        tr
                                            th Symbol
                                            th Start
                                            th End
                                    tbody
                                        tr
                                            td
                                                input.form-control(type="text", ng-model="positionFilter.symbol", ng-change='updatePositionFilter()')
                                            td
                                                input.form-control(type="text", ng-model="positionFilter.start", ng-change='updatePositionFilter()')
                                            td
                                                input.form-control(type="text", ng-model="positionFilter.end", ng-change='updatePositionFilter()')
                                        tr(ng-repeat="option in optionChainWithPositions", ng-click="expandSelector(option)")
                                            td
                                                input(type="checkbox", ng-model="option.selected", ng-click="update()")
                                                span &nbsp;&nbsp;{{ option.item.symbol }}
                                            td
                                                p {{ option.position.startDate | ttd }}
                                            td
                                                p {{ option.position.endDate| ttd }}

            .row
                uib-accordion(ng-repeat="item in optionSelector")
                    uib-accordion-group(is-open="item.expanded")
                        uib-accordion-heading
                            i.glyphicon(ng-class="{'glyphicon-minus': item.expanded, 'glyphicon-plus': !item.expanded}")
                            span &nbsp;&nbsp;{{ item.name }}
                        .col-md-3(ng-repeat="subitem in item.options")
                            label
                                input(type="checkbox", ng-model="subitem.item.selected", ng-click="update()")
                                span &nbsp;&nbsp;{{ subitem.name }}
