extends layout

block extra_header
    script(src='/javascripts/vendors/d3.min.js')
    script(src='/javascripts/quickview.js')

block contents
    .row(ng-app="app", ng-controller="QuickViewCtrl", ng-init="theme='equities'", ng-cloak)
        .col-md-2.sidebar
            ul.nav.nav-sidebar

        .col-md-10.main
            .row
                panel.panel-default
                    .panel-body
                        .col-md-8.form-inline.radio-button-selector
                            .btn-group
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'2 days'", ng-click="update()") 2 Days
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'3 days'", ng-click="update()") 3 Days
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'5 days'", ng-click="update()") 5 Days
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'10 days'", ng-click="update()") 10 Days
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'20 days'", ng-click="update()") 20 Days
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'1 month'", ng-click="update()") 1 Month
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'3 months'", ng-click="update()") 3 Months
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'4 months'", ng-click="update()") 4 Months
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'5 months'", ng-click="update()") 5 Months
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'6 months'", ng-click="update()") 6 Months
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'1 year'", ng-click="update()") 1 Year
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.period", uib-btn-radio="'ytd'", ng-click="update()") YTD
                        .col-md-4.form-inline.radio-button-selector
                            .btn-group
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.extendedHours", uib-btn-radio="false", ng-click="updateGraphs()") Standard
                                label.btn.btn-sm.btn-primary(ng-model="globalSettings.extendedHours", uib-btn-radio="true", ng-click="updateGraphs()") Extended

            .row
                uib-accordion.col-md-10.graph-panel(ng-repeat="graph in graphs")
                    uib-accordion-group(is-open="graph.isOpen")
                        uib-accordion-heading
                            i.glyphicon(ng-class="{'glyphicon-minus': graph.isOpen, 'glyphicon-plus': !graph.isOpen}")
                            span &nbsp;&nbsp;{{graph.title}}
                        div
                            .row.form-inline.col-md-12
                                button.btn.btn-primary.btn-sm(ng-click="resetGraph(graph)")
                                    span &nbsp;Reset
                                label &nbsp;&nbsp;&nbsp;
                                label.btn.btn-primary.btn-sm(ng-click="zoomGraph(graph, +1)")
                                    i.glyphicon.glyphicon-plus
                                label &nbsp;
                                label.btn.btn-primary.btn-sm(ng-click="zoomGraph(graph, -1)")
                                    i.glyphicon.glyphicon-minus
                                label &nbsp;&nbsp;&nbsp;
                                label.btn.btn-primary.btn-sm(ng-click="shiftGraph(graph, -1)")
                                    i.glyphicon.glyphicon-chevron-up
                                label &nbsp;
                                label.btn.btn-primary.btn-sm(ng-click="shiftGraph(graph, +1)")
                                    i.glyphicon.glyphicon-chevron-down
                            .row.form-inline.col-md-12
                                span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                span(ng-repeat="target in graph.targets | filter: { core: true }")
                                    input(type="checkbox", ng-model="target.visible", ng-click="updateGraphs()")
                                    span &nbsp;&nbsp;{{ target.name }}&nbsp;
                                    ts-legend(color="target.color")
                                    span &nbsp;&nbsp;
                            .row.form-inline.col-md-12
                                span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                span(ng-repeat="target in graph.targets| filter: { core: false }")
                                    input(type="checkbox", ng-model="target.visible", ng-click="updateGraphs()")
                                    span &nbsp;&nbsp;{{ target.name }}&nbsp;
                                    ts-legend(color="target.color")
                                    span &nbsp;&nbsp;
                            .row.form-inline.col-md-12
                                time-series-chart(settings="graph", global-settings="globalSettings", data="data")