extends layout

block extra_header
    script(src='/javascripts/settings.js')

block contents
    .row(ng-app="app", ng-controller="SettingsCtrl", ng-cloak)
        .col-md-2.sidebar
            ul.nav.nav-sidebar

        .col-md-10.main
            .row
                panel.panel-default.col-md-6
                    .panel-body
                        table.table.table-hover
                            thead
                                tr
                                    th Symbol
                                    th Active
                                    th Update Mode
                                    th Option Mode
                                    th OTM Range
                                    th ITM Range
                            tbody
                                tr
                                    td
                                        input.form-control(type="text", ng-model="symbolFilter")
                                    td
                                        // input.form-control(type="text", ng-model="nameFilter")
                                    td
                                        // input.form-control(type="text", ng-model="sectorFilter")
                                    td
                                        // input.form-control(type="text", ng-model="capFilter")
                                    td
                                    td
                                tr(ng-repeat="item in settings | filter: { symbol: symbolFilter }")
                                    td
                                        p {{ item.symbol }}
                                    td
                                        input(type="checkbox" ng-model="item.active")
                                    td
                                        .btn-group(uib-dropdown)
                                        <button id="split-button" type="button" class="btn btn-danger">Action</button>
                                        <button type="button" class="btn btn-danger" uib-dropdown-toggle>
                                        <span class="caret"></span>
                                        <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                        <li role="menuitem"><a href="#">Action</a></li>
                                        <li role="menuitem"><a href="#">Another action</a></li>
                                        <li role="menuitem"><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li role="menuitem"><a href="#">Separated link</a></li>
                                        </ul>
                                        </div>

                                        input(type="checkbox" ng-model="item.updateMode")
                                    td
                                        input(type="checkbox" ng-model="item.optionMode")
                                    td
                                        p {{ item.otmRange }}
                                    td
                                        p {{ item.itmRange }}

                panel.panel-default.col-md-6
                    .panel-body
                        table.table
                            thead
                                tr
                                    th.col-md-3 Time
                                    th.col-md-7 Log
                            tbody
                                tr(ng-repeat="line in log | orderBy: 'timestamp' : true")
                                    td.col-md-3 {{ line.timestamp | ctd | date : 'MM/dd HH:mm:ss' }}
                                    td.col-md-7 {{ line.msg }}