@font-face {
    font-family: 'Oxygen';
    font-style:  normal;
    font-weight: 400;
    src: url('../fonts/Oxygen-Regular.ttf');
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 50px;
    width: 180px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 24px;
    padding-left: 30px;
}
.nav-sidebar > li > input {
    margin-left: 22px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 74%
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding-right: 40px;
    margin-left: 210px;
}
.main .page-header {
    margin-top: 0px;
}

/*
 * Adjust the height of the input-group-btn so it gets aligned with the text area it is attached to.
 */
.input-group-btn > .btn {
    height: 34px;
}

.form-group > * {
    margin:4px;
}

#start-date-input {
    width: 100px;
}

.price-input {
    max-width: 120px;
}

.chart-legend {
    background-color: #4f81bd;
}

.checkbox {
}

#option-selector-right {
    width: 120px;
}

.radio-button-selector {
    margin-top: 6px;
}

#balances-data-series-selector {
    margin-left: 10px;
}

#balances-data-series-selector td {
    border-top: none !important;
}

#push-down {
    margin-top: 10px;
}

.btn1 {
    background-color: #4f81bd;
}

.btn2 {
    background-color: #c0504d;
}

.btn3 {
    background-color: #9bbb59;
}

.btn4 {
    background-color: #8064a2;
}

.btn5 {
    background-color: #4bacc6;
}

.btn6 {
    background-color: #f79646;
}

.bold {
    font-weight: bold;
}

.posFig {
    color: #9bbb59;
    font-weight: bold;
}

.negFig {
    color: #c0504d;
    font-weight: bold;
}